{% extends 'base.html.twig' %}

{% block title %}Store{% endblock %}

{% block body %}
    <div class="subnav">
        <h5>due to the pandemic delivery times may fluctuate, thank you for your understanding.</h5>
        <select class="filter" name="filter" onchange=" window.location = '/store/?by=' + this.value ">
            <option>no filter</option>
            <option value="asc">order by asc</option>
            <option value="desc">order by desc</option>
        </select>
    </div>
    <main id="store">
        <h1 class="fw-store">Store.<span class="grey">The best way to buy the <br> products you love.</span></h1>
        <div class="select-product">
            {% for category in categories %}
                <div class="item">
                    <a href="{{ path('app_products', {'productCategory' : category.id}) }}"><img src="/assets/products/{{ category.name }}/{{ category.picture }}" alt="product"></a>
                    <h5>{{ category.name }}</h5>
                </div>
            {% endfor %}
        </div>
        <h2 class="fw-store">The latest.<span class="grey">Take a look at what's new right now.</span></h2>
        <div class="lastest-product">
            {% for product in products %}
                <div class="card-product">
                    <div class="header-card-product">
                        <div>
                            <h5>{{ product.name }}</h5>
                            <p>from {{ product.price }} $</p>
                        </div>
                        <div class="after-arrow">
                            <a href="{{ path('app_product', {'id' : product.id}) }}">Shop</a>
                            <i class="fa-solid fa-angle-right"></i>
                        </div>
                    </div>
                    <img src="/assets/products/{{ product.productCategory.name }}/{{ product.picture }}" alt="image product">
                </div>
            {% endfor %}
        </div>
    </main>
{% endblock %}
